import React from 'react'

const <%= fn %> = () => {
    return (<div>
        <% for (const arg of leftovers) { %>
        <div>arg</div>
        <% } %>
    </div>)
    
  }
  
export default <%= fn %>